<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title>Historias y Biografias de Futbolistas</title>
	<link rel="stylesheet" type="text/css" href="AG.css">
	<style type="text/css">
	    .menu { border:1px solid black; }
		.contenido { margin-top: 20px;}
		.pie_pagina {border: 1px solid red; text-align: center; margin-top: 20px;}
	</style>
</head>
<body><div class="header">
		<h1>BIOGRAFIAS DEL FUTBOL</h1>
		<p class="contenido">En esta página podrás encontrar las historias/biografias de tus futbolistas favoritos</p>
	</div>
	<div class="menu">
		<a href="index.html">Inicio</a>
		<a href="AG.html">Antoine Griezmann</a>
		<a href="LM.html">Lionel Messi</a>
		<a href="HL.html">Hirving Lozano</a>
		<a href="CR.html">Cristiano Ronaldo</a>
		<a href="MS.html">Mohamed Salah</a>
		<a href="PC.html">Philippe Coutinho</a>
	</div>
	<div style="font-family: arial black; text-align: center" class="contenido">
	<h2>BIOGRAFRIA DE ANTOINE GRIEZMANN</h2>	
	</div>
	<div class="contenido">
		<div class="izquierda">
			<div class="item">
		<h1>Antoine Griezmann</h1>
		
	<img src="AG.jpg" alt="" class="imagen">
		<p style="font-family: calibri">Antoine Griezmann (21 de marzo de 1991) futbolista, delantero del Club Atlético de Madrid de la Primera División de España. Nació en la comuna de Mâcon, Saona y Loira, Borgoña, Francia. Sus padres son: Alain Griezmann e Isabelle Griezmann. Heredo el gusto por el fútbol de su padre y su abuelo, quien fue futbolista. El pequeño Griezmann admiraba al delantero brasileño Sony Anderson. comenzó su formación en el equipo local de su población natal, la Unión du Football Mâconnais (UF Mâcon). Luego de algún tiempo, realizó pruebas con varios clubes profesionales franceses, pero ninguna de ellas se decidió a ficharlo, dada su entonces débil constitución física.
			Aunque aburrido por la situación no dejó morir su sueño. En su infancia era seguidor del Olympique de Lyon e intentó también entrar en la academia de formación de este club, pero fue rechazado. Cuando tenia 13 años fue fichado por la Real Sociedad a través de Eric Olhats, que lo vio jugando en un torneo en París cuando estaba probando para el ASSE. Ante la situación, los padres de Griezmann aceptaron el fichaje del equipo extranjero. El joven tuvo que trasladarse a Bayona y en ocasiones iba a visitar a sus padres. Terminó sus estudios de secundaria. 
			Pasó por todas las categorías inferiores del club. En la temporada 2009-10 logró llegar al equipo filial del club, la Real Sociedad B. Debutó marcando con el primer equipo en pretemporada y acabó convirtiéndose en el máximo goleador del equipo durante la pretemporada. Dicha experiencia fue muy enriquecedora para el joven porque empezó a tomarse confianza y a ser visto por los jugadores de primera división y el cuerpo técnico. Gracias a su buen desempeño, debutó en competición oficial el 2 de septiembre de 2009, en un partido de Copa del Rey frente al Rayo Vallecano.
			Ahora bien, su debut en la Liga en la Segunda División fue frente al Real Murcia el 6 de septiembre de 2009. Unas fechas más tarde anotó su primer gol en su primer partido como titular, ante el Huesca en el Estadio de Anoeta. Posteriormente, fue llamado para ser parte de la selección nacional de Francia sub-19, el 2 de marzo de 2010 hizo su debut contra Ucrania, y el 4 de marzo de 2010 anotó su primer gol con la camiseta nacional. Griezmann, fue contratado como profesional del equipo Real Sociedad el 8 de abril de 2010 hasta el 30 de junio de 2015, finalizando la temporada como uno de los jugadores relevantes del ascenso del equipo a la Primera División.
			El mismo año logró proclamarse campeón de Europa sub-19 con la selección tras ganarle 2-1 a España. Años después de un nivel en ascenso, fue convocado por primera vez para jugar con la selección absoluta de Francia su primer juego fue en un partido amistoso ante Holanda en el Stade de France. Luego se supo del llamado que le hizo el técnico de la selección para jugar en la Copa Mundial de 2014. Se realizó luego su traspaso por seis temporadas y por una cifra en torno a los 30 millones de euros al Atlético de Madrid.
			Fue presentado el 31 de julio de 2014 en el estadio Vicente Calderón y casi un mes después hizo su debut con su nuevo equipo en partido amistoso contra el VfL Wolfsburgo. Su primer partido oficial fue el 19 de agosto en la ida de la Supercopa de España ante el Real Madrid en el Santiago Bernabéu. Logró salir campeón con dicho equipo en la Supercopa. El 16 de septiembre jugó su primer partido de Liga de Campeones con el Atlético de Madrid, el onceno terminó la temporada en tercera posición, clasificándose a la Liga de Campeones.
			Griezmann hizo su mejor temporada goleadora con 25 goles. El delantero renovó su contrato con el club hasta 2021. El 5 de agosto de 2016, fue nominado junto a Cristiano Ronaldo y Gareth Bale como mejor jugador de la UEFA de la anterior temporada. El 7 de octubre de 2016, fue merecedor del premio al mejor jugador de la Euro 2016 luego de disputar un partido de clasificación para el Mundial 2018 contra la selección búlgara en el Stade de France. Fue fichado por el Atlético de Madrid, luego de un momento de tensiones y negocios. Realmente, el técnico de los blancos sabía que el jugador tenía todas las capacidades para aportar al equipo galáctico. Desde ese momento vive en la capital junto a su novia Erika Choperena, con la que tiene un hijo.
			El jugador fue blanco de una polémica tras asegurar en una entrevista concedida a la cadena COPE que, entre el Barcelona y el equipo blanco, tiene muy claro con quien se queda: con el Real Madrid. Además, porque se reconoce madridista. El presidente del Madrid, Florentino Peréz estaría dispuesto a pagar 100 millones de euros para finiquitar la cláusula de rescisión del delantero galo.
		</p>
	</div>
</div>
</div>
	<div class="derecha">
		<div class="item">
		<h2>Goles de Antoine Griezmann</h2> <hr>
		<a href="https://www.youtube.com/watch?v=eA10jIGvJuY">Top 10 goles de Griezmann</a><br>
	</div></div>
	<div style="width: 450px; ; float: left; padding: 30px;margin-left: 450px; background-color: white;  font-family: arial; margin-top: 20px ">
		
		<h2>Hecho por Ortiz Cárdenas Jesús Angel</h2> <hr>
		<a href=https://www.instagram.com/yisus_1107?r=nametag>Instagram</a><br>
		<a href=https://www.facebook.com/profile.php?id=100006744587337>Facebook</a><br>
		<a href=>Gmail: yisus1107ortiz@gmail.com</a>
	</div>
	<div class="footer">
		<h2>&copy; 2019</h2>
	</div>
</body>
</html>