<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title>Historias y Biografias de Futbolistas</title>
	<link rel="stylesheet" type="text/css" href="MS.css">
	<style type="text/css">
		.menu { border:1px solid black; }
		.contenido {  margin-top: 20px;}
		.pie_pagina {border: 1px solid red; text-align: center; margin-top: 20px;}
	</style>
</head>
<body><div class="header">
		<h1>BIOGRAFIAS DEL FUTBOL</h1>
		<p class="contenido">En esta página podrás encontrar las historias/biografias de tus futbolistas favoritos</p>
	</div>
	<div class="menu">
        <a href="index.html">Inicio</a>
        <a href="AG.html">Antoine Griezmann</a>
        <a href="LM.html">Lionel Messi</a>
        <a href="HL.html">Hirving Lozano</a>
        <a href="CR.html">Cristiano Ronaldo</a>
        <a href="MS.html">Mohamed Salah</a>
        <a href="PC.html">Philippe Coutinho</a>
    </div>
	<div style="font-family: arial black;text-align: center " class="contenido">
	<h2>BIOGRAFRIA DE MOHAMED SALAH	</h2>
	</div>
	<div class="contenido">
        <div class="izquierda">
            <div class="item">
		<h1>Mohamed Salah</h1>
	<img src="MS.jpg" alt=""  class="imagen">
	<p style="font-family: calibri">Mohamed Salah Ghaly (15 de junio de 1992) futbolista profesional. Nació en Nagrig, Egipto. Actualmente juega como extremo en el Liverpool de la Premier League de Inglaterra. Además, es internacional con la selección de Egipto. Salah se destacó en el fútbol desde temprana edad. Sus padres le ayudaron a ingresar al Mokawloon Al-Arab y luego paso al Arab Contractors. Rápidamente, fue convocado en las divisiones menores de la selección egipcia. También participó en la Copa Mundial Sub-20 de la FIFA y en los Juegos Olímpicos de Verano de 2012.
		Para ese año, el Basel solicitó sus servicios. El jugador africano ganó la Super Liga Suiza en su primera temporada, siendo galardonado con el premio al Futbolista del año en África. Ha demostrado desde sus inicios su liderazgo dentro y fuera de la cancha. Es un jugador humilde que tuvo que ser testigo de la pobreza y la miseria, y los estragos que estas generaban en la vida de los jóvenes de su tierra natal. Por fortuna, él logró hacer quite a ello y avanzar con la ayuda de sus padres. En las calles de Nagrig era reconocido como un gran futbolista, hasta tal punto de llegar a destacarse más que los jugadores mayores. Luego de pertenecer a un equipo en la lejana Tanta, entró a un equipo de El Cairo. Tuvo que dejar a su familia para llevar a cabo su vida como futbolista. 
		Comenzó jugando en la posición de lateral izquierdo. Pero, esta posición no le gustaba porque era muy complicado marcar goles, era su pasión, así que constantemente se sentía frustrado. El director técnico decidió cambiar su posición aprovechando su velocidad y definición. Cuando pasó al ataque, anotó 35 goles. Para ese momento dejó de lado sus estudios porque realmente el tiempo que podía dedicar era mínimo. Sus padres no les gustaban mucho la idea, pero decidieron apoyar a su hijo. El partido que le permitió ser reconocido de manera internacional fue el disputado entre la Selección juvenil de Egipto y el Basel de Suiza. Salah fue figura en ese juego. Más tarde, probó y fue contratado por dos temporadas.
		Desde ese momento la situación económica de su familia mejoró porque empezó a recibir un buen sueldo, aunque desde ese momento sintió interés por donar a los más necesitados. Especialmente, por la dura situación en la que estaba sumido su pueblo. Luego, con una buena actuación en el equipo fue fichado por el equipo inglés Chelsea. En su primera etapa no se destacó, y esto generó la poca confianza por parte de José Mourinho, así que, fue prestado a la Fiorentina de Italia, en la que comenzó a mostrar su potencial. Pasaron 26 encuentros para que hiciera parte de las filas de la Roma, equipo con el que despegó. En 83 partidos marcó 34 goles y 24 asistencias. Posteriormente, fue fichado por el Liverpool, rápidamente se ganó la aprobación y el cariño de sus compañeros, los directivos del club y la hinchada. Sus anotaciones le despertaron la esperanza a su equipo de obtener el título en la Uefa Champions League.
		Salah es considero el mejor jugador de Egipto y gracias a un penalti suyo volvieron a clasificar a un Mundial de Fútbol, después de 28 años. Como premio, uno de los empresarios más poderosos del país, Mamdou Abbas, lo premió con una mansión, pero Salah la rechazó y le pidió que donara dinero para la escuela industrial de su pueblo. La escuela industrial lleva su nombre. En ese momento ganaba unos 100.000 euros al mes y tenía un valor en el mercado de 200 millones. Gran parte de su sueldo ha sido destinado a varias obras de caridad que han aportado al progreso de los habitantes de su población. Por ejemplo, compró la primera ambulancia del área y numerosos equipamientos médicos.
		Fundó una organización benéfica para apoyar a las familias de Nagrig, a la que aporta unos 3.500 euros mensuales. No solo ha ayudado a su pueblo, sino a Egipto en general, donó 240.000 euros a un fondo monetario. Su popularidad es tal que en las pasadas elecciones presidenciales los votantes ponían en el tarjetón su nombre, en lugar del elegido Abdel Fattah al-Sisi y del otro candidato Moussa Mostafa. Recientemente comenzó la construcción de un hospital y un colegio.
		Con Salah en la cancha la selección de Egipto debutó en las clasificatorias del Mundial derrotando 2 a 0 a Mozambique. Realizó un ‘hat-trick’ cuando Egipto ganó su cuarto partido consecutivo en la fase de clasificación para la Copa Mundial. A pesar de ello, el equipo egipcio no clasificó. Salah participó en la Copa Africana de Naciones 2017. Llegaron a disputar la final ante Camerún en un partido tenso, no lograron ganar por una anotación del jugador de Camerún Vincent Aboubakar.
		Gracias al empeño de la selección egipcia impulsada por Salah; lograron clasificar gracias a un cobro desde el punto penal cobrado por el jugador contra el Congo en el minuto 94. Entonces, los Faraones clasificaron al Mundial después de 28 años. Salah fue el máximo goleador de Egipto con cinco goles durante la clasificación para la Copa Mundial de la FIFA 2018. Su participación en dicho certamen fue realmente corta luego de caer frente a la Selección de Rusia. </p>
	</div>
</div>
</div>
	<div class="derecha">
		<div class="item">
		<h2>Goles de Mohamed Salah</h2> <hr>
		<a href="https://www.youtube.com/watch?v=9kzx1KxJscQ">Top 10 goles de Mohamed Salah</a><br>
	</div>
</div>
	 <div style="width: 450px; ; float: left; padding: 30px;margin-left: 400px; background-color: white;  font-family: arial; margin-top: 20px ">
		
		<h2>Hecho por Ortiz Cárdenas Jesús Angel</h2> <hr>
		<a href=https://www.instagram.com/yisus_1107?r=nametag>Instagram</a><br>
		<a href=https://www.facebook.com/profile.php?id=100006744587337>Facebook</a><br>
		<a href=>Gmail: yisus1107ortiz@gmail.com</a>
	</div>
	<div class="footer">
		<h2>&copy; 2019</h2>
	</div>
</body>
</html>