<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title>Historias y Biografias de Futbolistas</title>
	<link rel="stylesheet" type="text/css" href="MS.css">
	<style type="text/css">
		.menu { border:1px solid black; }
		.contenido {  margin-top: 20px;}
		.pie_pagina {border: 1px solid red; text-align: center; margin-top: 20px;}
	</style>
</head>
<body><div class="header">
		<h1>BIOGRAFIAS DEL FUTBOL</h1>
		<p class="contenido">En esta página podrás encontrar las historias/biografias de tus futbolistas favoritos</p>
	</div>
	<div class="menu">
        <a href="index.html">Inicio</a>
        <a href="AG.html">Antoine Griezmann</a>
        <a href="LM.html">Lionel Messi</a>
        <a href="HL.html">Hirving Lozano</a>
        <a href="CR.html">Cristiano Ronaldo</a>
        <a href="MS.html">Mohamed Salah</a>
        <a href="PC.html">Philippe Coutinho</a>
    </div>
	<div style="font-family: arial black;text-align: center " class="contenido">
	<h2>BIOGRAFRIA DE PHILIPPE COUTINHO</h2>
	</div>
	<div class="contenido">
        <div class="izquierda">
            <div class="item">
		<h1>Philippe Coutinho</h1>
	<img src="PC.jpg" alt=""  class="imagen">
	<p style="font-family: calibri">Philippe Coutinho Correia (12 de junio de 1992) futbolista profesional. nació en Río de Janeiro, Brasil. Actualmente es centrocampista en el equipo español Fútbol Club Barcelona. Sus inicios se dieron en el fútbol sala, una vertiente del fútbol que es muy popular en Brasil. Es un jugador dotado de gran técnica, su juego ha sido comparado con el de Zico o Ronaldinho. Durante su vida deportiva ha desempeñado la posición de centrocampista ya sea ofensivo o de extremo. Claramente no es un buen defensa ya que no es un jugador muy veloz.
	Pero posee una visión del juego que le posibilita anticipar la jugada. En suma, su calidad en el pase hace de él un gran proveedor de asistencias. Es uno de los jugadores diestros que tiene gran efectividad con la zurda, lo cual convierte sus tiros en imprevisibles. Sus lanzamientos de larga distancia han sido asemejados, por los periodistas deportivos y técnicos, con el estilo de Steven Gerrard. Por todo lo anterior es un jugador que claramente va a aportarle mucho a algún equipo.
	Su carrera profesional en el fútbol campo comenzó en el año 2010 cuando fue fichado por el Inter de Milán, en el momento en que llegó la prensa deportiva afirmó que llegaba una “gran promesa del fútbol a reforzar el club”. Debutó el 31 de julio de 2010, en Baltimore, Estados Unidos, contra el Manchester City en pretemporada, rápidamente demostró sus habilidades en la cancha. Semanas después debutó oficialmente en la final de la Supercopa Europea frente al Atlético de Madrid. Con cada partido se iba ganando la confianza de Rafa Benítez que empezó a darle cada vez más minutos. Hizo su primer gol oficial el 8 de mayo de 2011 frente a la Fiorentina, fue una anotación de tiro libre.
	Coutinho se convirtió en un jugador fundamental para el Milán, jugó gran parte de los partidos de la UEFA Champions League contra equipos como el Tottenham Hotspur, Werder Bremen, y Twente. En el año 2012 fue cedido durante el mercado de invierno al Real Club Deportivo Español, donde disputó media temporada y deleitó a la liga española con sus pases precisos y magníficos lanzamientos al arco. El RCD Espanyol quedó en mitad de tabla de la Liga BBVA ese año. Un año después volvió a territorio italiano, se incorporó para la pre-temporada. En la temporada 2012-13 tuvo un mayor protagonismo.
	En el primer partido oficial marcó un gol al HNK Hajduk Split por la Tercera ronda de clasificación de la UEFA Europa League, este tanto finiquitó la goleada por 3-0 de los del Inter. En el año 2013 el Liverpool F.C. inicia algunas negociaciones para quedarse con los servicios del jugador brasileño. En ese caso, los Reds desembolsaron 10 millones de libras por sus servicios, siendo presentado el 30 de enero con el dorsal número 10. En el clásico de la ciudad de Liverpool que enfrentó al Everton fue responsable de un gol.
	El joven Coutinho se convirtió en el hombre letal en la Premier League y el nuevo líder del Liverpool, también fue reconocido como uno de los jugadores más atléticos del campeonato inglés. El brasileño asombra por su juego entre líneas, su último pase y su claridad en los últimos metros son la base sobre la que se sustenta el juego ofensivo ‘red’. Sus acciones individuales logran desequilibrar y poner en jaque a la defensa de cualquier equipo. Son muchos ya los que piden su presencia de manera indefinida en la Selección de Brasil, muchos se han envalentonado para decir que es el sustituto del legendario capitán Steven Gerrard.
	Jugó un partido completo, contra el Swansea City, que terminó en goleada a favor de su equipo. marcó su primer gol con el Liverpool a los 16 segundos de la segunda mitad, tras un magnifico pase de Luis Suárez. Ganó el premio al mejor jugador del partido en la victoria ante el Newcastle United 6-0. Además, Coutinho fue declarado jugador del mes en marzo de ese año. Realmente su participación en el equipo de los Reds fue muy importante, más que todo por sus innumerables asistencias que terminaron en gol. Lamentablemente, sufrió una lesión en el hombro contra el Swansea City después de un choque con Ashley Williams.
	Tras su recuperación Coutinho volvió para arrasar. Para ese momento el equipo estaba disputando el primer lugar de la tabla con el Manchester City. El 3 de febrero de 2015, Coutinho firmó un nuevo contrato con el club hasta 2020. Antes de firmar extender su contrato, Coutinho anotó el gol de la victoria en el partido de cuarta ronda de la FA Cup contra el Bolton Wanderers de una victoria. A partir de este momento Coutinho anotó consecutivamente por varias fechas. Fue elegido por los seguidores para ganar el premio al Mejor Jugador del mes de febrero en la Premier League.
	Realizó anotaciones muy importantes, por ejemplo, en la Semifinal de la FA Cup frente al Aston Villa en el Estadio Wembley, aunque Aston Villa terminó ganando. Coutinho fue el único jugador del Liverpool nombrado en el Equipo de PFA del año. Diecisiete días más tarde, fue nombrado jugador de la temporada del equipo. Cuando terminó la temporada, fue preseleccionado para los PFA Jugador del Jugador del Año y la PFA Jugador Joven del Año, pero Eden Hazard y Harry Kane, respectivamente, se quedaron con los reconocimientos.
	La primera vez que lo expulsaron de la Premier League fue en un partido como locales contra el West Ham United el 29 de agosto de 2015. El 5 de enero de 2016, sufrió una lesión en el muslo mientras disputaba un partido contra el Stoke City en el Britannia Stadium, que lo dejó afuera durante tres semanas, impidiéndole jugar el partido de ida de la Liga de semifinales de la Copa. En la final de la Capital One Cup, Coutinho anotó el gol del empate en el minuto 83 ante el Manchester City. Sin embargo, el partido fue a penales, y el equipo de Coutinho perdió.
	Marcó un gol que fue considerado el mejor gol de la temporada de Liverpool. Coutinho fue uno de los seis jugadores nominados para el 2016 PFA Jugador Joven del Año. Es la segunda temporada que el internacional brasileño se hace acreedor de cuatro títulos individuales. Muchos aseguran y llegan al acuerdo que el mejor gol del centrocampista fue el que le marcó al Manchester United en Old Trafford. Gracias a su talento fue contratado por el importante equipo español el Barcelona F.C.
	Su primera aparición fue en el partido de vuelta de cuartos de final de la Copa del Rey de fútbol 2017 contra el Real Club Deportivo Español al entrar para sustituir a Andrés Iniesta. Para este momento ya era un jugador clave en la Selección absoluta de Brasil. Lamentablemente, en el año 2014 el técnico Luiz Felipe Scolari prescindió de su presencia para el Mundial. Ahora bien, fue por primera vez titular en el Barcelona en el partido de la liga contra el Deportivo Alavés, y anotó su primer gol en el partido de vuelta de la semifinal de la Copa del Rey contra el Valencia Club de Fútbol. Luego fue llamado por Dunga para la Copa América.</p>
	</div>
</div>
</div>
    <div class="derecha">
		<div class="item">
		<h2>Goles de Philippe Coutinho</h2> <hr>
		<a href="https://www.youtube.com/watch?v=1kd75IJoC40">Philippe Coutinho ● Top 10 Goals in Career ● 2010-2018</a>
	</div>
</div>
	 <div style="width: 450px; float: left; padding: 30px; margin-left: 400px; background-color: white;font-family: arial;margin-top: 20px ">
		<h2>Hecho por Ortiz Cárdenas Jesús Angel</h2> <hr>
		<a href=https://www.instagram.com/yisus_1107?r=nametag>Instagram</a><br>
		<a href=https://www.facebook.com/profile.php?id=100006744587337>Facebook</a><br>
		<a href=>Gmail: yisus1107ortiz@gmail.com</a>
	</div>
	<div style="margin-top: 1770px; padding:5px" class="footer">
		<h2>&copy; 2019</h2>
	</div>
</body>
</html>